<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     xmlns:firewall="http://wixtoolset.org/schemas/v4/wxs/firewall">
  <Package Name="Fortuna Faucet Web Service"
           Manufacturer="Fortuna Development Team"
           Version="1.0.0.0"
           UpgradeCode="d8ba82a4-1215-4c83-9369-5254165563e4">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="MainApplication" Title="Main Application">
      <ComponentGroupRef Id="ServiceAndFirewall" />
      <ComponentGroupRef Id="DirectoryAndEnv" />
      <ComponentGroupRef Id="StartMenuShortcut" />
      <!-- FrontendComponents removed - UI is now bundled in fortuna-backend.exe -->
    </Feature>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Fortuna">

        <Directory Id="DataFolder" Name="data" />
        <Directory Id="LogsFolder" Name="logs" />

        <Component Id="FortunaBackendService" Guid="a1b1a73a-4424-4221-897b-0331984639e2">
          <File Id="FortunaBackendExe"
                Source="$(var.SourceDir)/fortuna-backend.exe"
                KeyPath="yes" />

          <util:ServiceConfig
            ServiceName="FortunaBackendService"
            Id="FortunaServiceConfig"
            FirstFailureActionType="restart"
            SecondFailureActionType="restart"
            ThirdFailureActionType="restart"
            RestartServiceDelayInSeconds="60" />

          <util:ServiceInstall
            Id="InstallFortunaService"
            Name="FortunaBackendService"
            DisplayName="Fortuna Faucet Backend"
            Description="Handles data aggregation for Fortuna Faucet."
            Account="NT AUTHORITY\LocalService"
            Start="auto"
            Type="ownProcess"
            ErrorControl="normal" />

          <util:ServiceControl
            Id="StartFortunaService"
            Name="FortunaBackendService"
            Start="install"
            Stop="both"
            Remove="uninstall"
            Wait="yes" />

          <firewall:FirewallException
            Id="FWException"
            Name="Fortuna Faucet"
            Port="8000"
            Protocol="tcp"
            Scope="any" />
        </Component>

        <Component Id="DataAndLogsFolders" Guid="f9e0a2d2-8533-4a6c-921c-55913e11f75b">
          <RegistryValue Root="HKLM" Key="Software\Fortuna Faucet" Name="FoldersCreated" Type="integer" Value="1" KeyPath="yes" />
          <CreateFolder Directory="DataFolder">
            <util:PermissionEx User="NT AUTHORITY\LocalService" GenericAll="yes" />
          </CreateFolder>
          <CreateFolder Directory="LogsFolder">
            <util:PermissionEx User="NT AUTHORITY\LocalService" GenericAll="yes" />
          </CreateFolder>
        </Component>

        <Component Id="EnvironmentVariables" Guid="c3d9a9a0-6b6f-4c18-9c59-26d0e6a1240c">
          <RegistryValue Root="HKLM" Key="Software\Fortuna Faucet" Name="EnvVariablesSet" Type="integer" Value="1" KeyPath="yes" />
          <Environment Id="DataDirEnv" Name="FORTUNA_DATA_DIR" Value="[DataFolder]" Action="set" System="yes" />
          <Environment Id="LogDirEnv" Name="FORTUNA_LOG_DIR" Value="[LogsFolder]" Action="set" System="yes" />
          <Environment Id="FortunaModeEnv" Name="FORTUNA_MODE" Value="webservice" Action="set" System="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuSubfolder" Name="Fortuna Faucet">
        <Component Id="ShortcutComponent" Guid="b5c5e5e4-3e3d-4c4c-8c8c-1234567890ab">
          <util:InternetShortcut Id="WebAppShortcut"
                                 Name="Fortuna Faucet"
                                 Target="http://localhost:8000" />
          <RemoveFolder Id="RemoveProgramMenuSubfolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\Fortuna Faucet" Name="ShortcutCreated" Type="integer" Value="1" KeyPath="yes"/>
        </Component>
      </Directory>
    </StandardDirectory>

    <ComponentGroup Id="ServiceAndFirewall">
      <ComponentRef Id="FortunaBackendService" />
    </ComponentGroup>

    <ComponentGroup Id="DirectoryAndEnv">
      <ComponentRef Id="DataAndLogsFolders" />
      <ComponentRef Id="EnvironmentVariables" />
    </ComponentGroup>

    <ComponentGroup Id="StartMenuShortcut">
      <ComponentRef Id="ShortcutComponent" />
    </ComponentGroup>

  </Package>
</Wix>