<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product
    Id="*"
    Name="Fortuna Faucet - Racing Analysis Engine"
    Language="1033"
    Version="$(var.Version)"
    Manufacturer="Mason J0 Studios"
    UpgradeCode="12345678-1234-1234-1234-123456789012">

    <Package
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine"
      Platform="x64"
      Description="Horse racing analysis platform"
      Comments="Professional-grade installer"/>

    <Media Id="1" Cabinet="fortuna.cab" EmbedCab="yes"/>

    <!-- Directory Structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Fortuna Faucet">
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Fortuna Faucet"/>
      </Directory>
    </Directory>

    <!-- Features -->
    <Feature Id="ProductFeature" Title="Fortuna Faucet" Level="1">
        <ComponentGroupRef Id="BackendFileGroup"/>
        <ComponentGroupRef Id="FrontendFileGroup"/>
        <ComponentGroupRef Id="ShortcutsComponentGroup"/>
    </Feature>

    <!-- Shortcuts -->
    <ComponentGroup Id="ShortcutsComponentGroup" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcuts" Guid="*">
          <util:InternetShortcut Id="DashboardShortcut" Name="Fortuna Faucet Dashboard" Target="http://localhost:3000"/>
          <Shortcut Id="UninstallShortcut" Name="Uninstall Fortuna Faucet" Description="Remove this application" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" Advertise="no"/>
          <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
          <RegistryValue Root="HKCU" Key="Software\Fortuna Faucet" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <!-- UI -->
    <UI>
      <UIRef Id="WixUI_CustomInstallDir" />
    </UI>
    <UIRef Id="WixUI_Common" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="electron\assets\license.rtf"/>
    <WixVariable Id="WixUIBannerBmp" Value="electron\assets\banner.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="electron\assets\dialog.bmp"/>

    <Condition Message="Windows 7 or later (64-bit) is required">
      <![CDATA[Installed OR (VersionNT64 >= 601)]]>
    </Condition>

  </Product>
</Wix>
